{% extends 'base.html.twig' %}

{% block title %}
	Hello BlogController!
{% endblock %}

{% block body %}
	<h1>
		Bienvenue sur ma liste d'articles
	</h1>
	{% for art in articles %}
		<div class="container">
			<h3>{{ art.title }}</h3>
			<h2>{{art.category.title}}</h2>
			<p>{{ art.content }}</p>
			<a class="btn btn-primary" href="{{path('art-detail',{'id':art.id})}}">Détails</a>
		</div>
		<br>
	{% endfor %}
{% endblock %}
