body {
    background-color: lightgray;
    
}

.container{
    background-color: #ccd9df;
    max-width: 600px;
    padding: 1%;
    border-radius: 10px;
}
h3,h1,.titre{
    text-align: center;
    color: red;
}